@font-face {
    font-family: cooperHewittBook;
    src: url(CooperHewitt-Book.otf);
    font-weight: book;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
    font-weight: book;
}

@font-face {
    font-family: montserrat;
    src: url(Montserrat-Regular.ttf);
    font-weight: book;
}

@font-face {
    font-family: kirang;
    src: url(KirangHaerang-Regular.ttf);
    font-weight: book;
}

@font-face {
    font-family: lobster;
    src: url(Lobster-Regular.ttf);
    font-weight: book;
}

.roboto { font-family: roboto; }
.montserrat { font-family: montserrat; }
.kirang { font-family: kirang; }
.lobster { font-family: lobster; }

html, body {
    margin: 0px;
    font-family: cooperHewittBook;
}

#main_grid {
    display: grid;
    min-height: 100%;
    grid-template-columns: 450px auto; 

}

#svg_wrapper{
    grid-column: 2; 
}



#menu_grid {
    background-color: blue;
    display: grid;
    width: 450px; 
    grid-column: 1; 
    grid-template-rows: 80px auto; /* Make this the same as menu_header height*/
}

#menu_header {
    grid-row: 1;
    background-color: #5b3fce;
    height: 80px; /* Make this the same as the first argument to grid-template-rows */
    box-shadow: -1px 5px 5px#70707091;
    z-index: 2;
}

#menu_options {
    display: grid;
    background-color: #f7f7f7;
    grid-template-columns: 1fr 5fr 1fr;
}

#text_input_options_grid {
    grid-column: 2; 
}

.options_heading {
    margin-top: 50px; 
}

textarea {
    height: 75px;
}

textarea, select{
    margin-top: 10px; 
    width: 100%;
}

input {
    display: inline;
    margin-right: 20px; 
    width: 85px; 
    margin-top: 10px; 
    height: 19px
}

font_size_wrapper input select {
    display: inline;
}

#font_size_select {
    width: 85px; 
}

#colour_palette {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    grid-template-rows: repeat(auto-fill, 30px);
    column-gap: 15px;
    grid-row-gap: 15px;
    background-color: white;
    padding: 6px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #70707091;
}

#elastic_duration_slider{
    display: block; 
    width: 60%;
}

#infinite_loop_checkbox {
    width: auto;
    height: auto; 
    margin: auto; 
}

#infinite_loop_checkbox #loop_count_input{
    display: inline;
}

#loop_count_input {
    margin-left: 30px; 
}

.options_descriptor{
    margin-top: 10px; 
}

#elastic_animation_events_grid{
    display: grid;
    grid-template-columns: 50px auto 50px; 
}

.elastic_timestamp, .elastic_event_value{
    width: 100%;
}

#elastic_colour_1{
    background-color: #1B8798;

}

#elastic_colour_2{
    background: #E7D84B;
}

.elastic_colour_sample{
    border-radius: 5px;
    height: 30px;
    width: 30px; 
}
